<!-- <p id="first">Hello</p>
<p id="second">Goodbye</p>
<p id="third">Welcome</p>
<p id="fourth">Farewell</p>
<button>Change the colors</button>
 -->

<button onclick="getData()">Get the data!</button>

<!-- a place to show my data -->
<div id="markets"></div>
